body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

.main-content {
    padding: 50px 100px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-list-item {
    padding-right: 50px;
}

.navbar-list-link {
    color: #696969;
}

.navbar-list-link:hover {
    color: #696969;
    font-size: large;
}

.navbar-list-btn {
    border-radius: 5px;
    border: 1px solid #AD4C4C;
    color: #AD4C4C;
    font-weight: 500px;
    font-size: 16px;
    padding: 8px 15px;
}

.navbar-list-btn:hover {
    border: 2px solid #AD4C4C;
}

.food {
    color: #000000;
    font-weight: bold;
}

.bag {
    color: #AD4C4C;
}

.type {
    display: flex;
    margin-top: 92px;
    font-weight: 400px;
    font-size: 14px;
}

.breadcrumb-item {
    font-weight: 400;
}

.text-gray {
    color: #C9C9C9;
}

.text-black {
    color: #000000;
}

.img-kfc-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.img-kfc {
    display: flex;

}

.img-kfc-text {
    padding-left: 21px;
    font-weight: 500px;
    font-size: 20px;
    color: #000000;
}

.img-kfc-view {
    font-weight: 500px;
    font-size: 16px;
    color: #AD4C4C;
}

.img-cake-wrapper {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-cake-text {
    font-weight: bold;
    font-size: 16px;
    color: #4E4D4D;
}

.cost {
    font-weight: bold;
    font-size: 16px;
    color: #5EA304;
}

.img-text-cost-wrapper {
    display: flex;
    justify-content: space-between;
}

.text-btn {
    border-radius: 3px;
    border: 1px solid #AD4C4C;
    padding: 8px 23px;
    font-weight: 600px;
    font-size: 16px;
    color: #AD4C4C;
    max-width: 130px;
}

.text-btn:hover {
    border: 2px solid #AD4C4C;
}

.line {
    border-top: 1px solid #E6E6E6;
    margin-top: 61px;
}

.logo-text {
    padding-left: 19px;
    font-weight: 500px;
    font-size: 20px;
    color: #000000;
}
@media only screen and (max-width: 600px) {
    .main-content {
        padding: 10px 20px;
    }
    .img-cake-wrapper {
        flex-direction: column;
    }

    .img-cake {
        max-width: none;
    }
}
@media only screen and (min-width: 600px) {
    .main-content {
        padding: 20px 40px;
    }
    .img-cake-wrapper {
        display: flex;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .main-content {
        padding: 30px 60px;
    }
}
@media only screen and (min-width: 992px) {
    .main-content {
        padding: 40px 80px;
    }
}
@media only screen and (min-width: 1200px) {
    .main-content {
        padding: 50px 100px;
    }
}