* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bg-light {
    background: #E8E8E8 !important;
}

.bg-light span {
    color: var(--grey-1, #555);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.navbar-icon-wrapper {
    width: 56px;
    height: 56px;
    border-radius: 7px;
    background: #615C99;
}

.navbar-title {
    font-size: 36px;
    font-weight: 400;
    color: #F0592A;
    margin-bottom: 0px;
}

.Ruslan-Dispaly {
    font-family: 'Ruslan Display', sans-serif;
}

.Racing-Sans-One {
    font-family: 'Racing Sans One', sans-serif;
}

.Raleway {
    font-family: 'Raleway', sans-serif;
}

.navbar-title-sm {
    color: #615C99;
    font-size: 19.132px;
    font-style: italic;
    font-weight: 500;
    margin-top: -20px;
}

.navbar-title-wrapper {
    margin-top: -13px;
}

.navbar-input-wrapper input {
    width: 495px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid var(--Light-Gray-2, #CCC);
    background: #FFF;
}

.contact-info-wrapper p {
    color: var(--grey-1, #555);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.5px;
    letter-spacing: 0.28px;
}