body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.bag {
    color: #AD4C4C;
    font-size: 16px;
}

.food {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.navbar-list-item {
    padding-right: 50px;
}

.navbar-list-link {
    color: #696969;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-list-btn:hover {
    background-color: #f1f0f0;
    transform: scale(1.01);
}

.navbar-list-btn {
    border-radius: 5px;
    border: 1px solid #AD4C4C;
    color: #AD4C4C;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 15px;
    transition: 0.4s all ease-in-out;
}

.location {
    font-weight: 400px;
    font-size: 20px;
    color: #000000;
}

a:link {
    text-decoration: none;
}

.box {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    font-size: 13px;
    font-weight: 400px;
    color: #696969;
    font-weight: bold;
}

.box:focus {
    border: 2px solid #AD4C4C;
    outline: none;
}

.option-item {
    background-color: #000000;
}

.head-item {
    margin-top: 100px;
    color: #4E4D4D;
    margin-bottom: 0px;
}

.head-item-text {
    color: #696969;
    margin-top: 5px;
    font-weight: 500px;
    font-size: 17px;
}

.box:hover{
    box-shadow: 3px 3px 3px 3px  #f3f2f2;
}

.line {
    border: 1px solid #F2F2F2;
}

.head-item-text {
    color: #696969;
    margin-top: 5px;
    font-weight: 500px;
    font-size: 17px;
}

.head-item-process {
    padding-top: 50px;
    text-align: center;
}

.fast-food-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fast-food-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    padding: 24px 30px;
    margin-bottom: 40px;
    width: 300px;
}

.slide1, .slide2, .slide3, .slide4 {
    animation: slide-up 0.7s ease-in-out;
    transition: 0.5s all ease-in-out;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide1:hover, .slide2:hover, .slide3:hover, .slide4:hover {
    transform: translateY(-10px);
}

.slide2 {
    animation-delay: 0.1s;
}

.slide3 {
    animation-delay: 0.2s;
}

.slide4 {
    animation-delay: 0.3s;
}

.fast-food-item:hover {
    box-shadow: 0px 0px 3px 3px #f3f2f2;
}

.redhLight {
    display: none;
}

.gray-fast-food-item-text {
    font-weight: 500px;
    font-size: 20px;
    color: #A5A5A5;
}

.fast-food-item-text {
    font-weight: 500px;
    font-size: 20px;
    color: #AD4C4C;
}

.gray-fast-food-item-downtext {
    font-weight: 400px;
    font-size: 20px;
    color: #A5A5A5;
}

.fast-food-item-downtext {
    font-weight: 400px;
    font-size: 20px;
    color: #696969;
}

.item-process-wrapper {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.item-process-text {
    font-weight: 500px;
    font-size: 25px;
    color: #696969;
    text-align: center;
}

.item-process-downtext {
    font-weight: 400px;
    font-size: 20px;
    color: #A5A5A5;
    text-align: center;
}
.footer-contact {
    margin-top: 50px;
    font-weight: 500px;
    font-size: 18px;
    text-align: center;
    color: #696969;
}

.footer-contact:hover {
    color: #AD4C4C;
}

.social-media {
    margin-top: 32.5px;
    text-align: center;
}

.twitter-logo {
    margin-right: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.twitter-logo:hover {
   transform: scale(1.09);
}

.facebook-logo {
    margin-left: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.facebook-logo:hover {
    transform: scale(1.09);
}

.youtube-logo {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.youtube-logo:hover {
    transform: scale(1.09);
}

.terms-copy {
    margin-top: 50px;
}

.terms {
    font-weight: 400px;
    font-size: 18px;
    color: #696969;
}

.copy {
    font-weight: 400px;
    font-size: 18px;
    color: #696969;
}

.newsletter-container {
    margin: 10px 100px;
}

.newsletter-wrapper {
    display: flex;
}

.newsletter-item {
    width: 100%;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

label {
    font-weight: 400px;
    font-size: 18px;
    color: #5a5959;
}

input {
    padding: 20px 10px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #fcfafa;
    font-size: large;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

input:focus {
    border: 2px solid #AD4C4C;
    outline: none;
}

button:hover {
    background-color: #f5f3f3;
}

.error-block {
    color: red;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

button {
    padding: 12px 20px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: xx-large;
    color: #AD4C4C;
    margin-top: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 600px) {
    .main-content {
        padding: 10px 20px;
    }
    
    .item-process-wrapper {
        justify-content: center;
    }
    .fast-food-wrapper {
        flex-direction: column;
        justify-content: unset;
    }
    .fast-food-item {
        width: 100%;
    }
    
    .terms {
        text-align: center;
    }
    
    .copy {
        text-align: center;
    }
} 

@media only screen and (min-width: 600px) {
    .main-content {
        padding: 20px 40px;
    }

    .item-process-wrapper {
        justify-content: center;
    }
    
    .terms {
        text-align: center;
    }
    
    .copy {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .main-content {
        padding: 30px 60px;
    }
    .head-item {
        text-align: center;
    }
    .head-item-text {
        text-align: center;
    }

    .item-process-wrapper {
        justify-content: space-between;
    }
    .item-process{
        display: flex;
        flex-direction: column;
    }
    .terms-copy {
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 992px) {
    .main-content {
        padding: 40px 80px;
    }
    .fast-food-wrapper {
        flex-wrap: nowrap;
    }
    .fast-food-item {
        width: 250px;
    }
}
@media only screen and (min-width: 1200px) {
    .main-content {
        padding: 50px 100px;
        
    }
}
