body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.bag {
    color: #AD4C4C;
    font-size: 16px;
}

.food {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.navbar-list-item {
    padding-right: 50px;
}

.navbar-list-link {
    color: #696969;
}

.navbar-list-link:hover {
    color: #696969;
    font-size: large;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-list-btn:hover {
    border: 2px solid #AD4C4C;
}

.navbar-list-btn {
    border-radius: 5px;
    border: 1px solid #AD4C4C;
    color: #AD4C4C;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 15px;
}

.location {
    font-weight: 400px;
    font-size: 20px;
    color: #000000;
}

a:link {
    text-decoration: none;
}

.box {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    font-size: 15px;
    font-weight: 400px;
    color: #4E4D4D;
}

.head-item {
    margin-top: 100px;
    color: #4E4D4D;
    margin-bottom: 0px;
}

.head-item-text {
    color: #696969;
    margin-top: 5px;
    font-weight: 500px;
    font-size: 17px;
}

.box:hover{
    border: 2px solid #AD4C4C;
}

.line {
    border: 1px solid #F2F2F2;
}

.head-item-text {
    color: #696969;
    margin-top: 5px;
    font-weight: 500px;
    font-size: 17px;
}

.head-item-process {
    padding-top: 50px;
    text-align: center;
}

.fast-food-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fast-food-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    padding: 24px 30px;
    margin-bottom: 40px;
    width: 300px;
}

.fast-food-item-text {
    font-weight: 500px;
    font-size: 20px;
    color: #AD4C4C;
}

.fast-food-item-downtext {
    font-weight: 400px;
    font-size: 20px;
    color: #696969;
}

.item-process-wrapper {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.item-process-text {
    font-weight: 500px;
    font-size: 25px;
    color: #696969;
    text-align: center;
}

.item-process-downtext {
    font-weight: 400px;
    font-size: 20px;
    color: #A5A5A5;
    text-align: center;
}
.footer-contact {
    margin-top: 50px;
    font-weight: 500px;
    font-size: 18px;
    text-align: center;
}

.social-media {
    margin-top: 32.5px;
    text-align: center;
}

.twitter-logo {
    margin-right: 30px;
}

.twitter-logo:hover {
    border: 2px solid #AD4C4C;
    border-radius: 5px;
}

.facebook-logo {
    margin-left: 30px;
}

.facebook-logo:hover {
    border: 2px solid #AD4C4C;
    border-radius: 5px;
}

.youtube-logo:hover {
    border: 2px solid #AD4C4C;
    border-radius: 5px;
}

.terms-copy {
    margin-top: 50px;
}

.terms {
    font-weight: 400px;
    font-size: 18px;
    color: #696969;
}

.copy {
    font-weight: 400px;
    font-size: 18px;
    color: #696969;
}

@media only screen and (max-width: 600px) {
    .main-content {
        padding: 10px 20px;
    }
    
    .item-process-wrapper {
        justify-content: center;
    }
    .fast-food-wrapper {
        flex-direction: column;
        justify-content: unset;
    }
    .fast-food-item {
        width: 100%;
    }
    
    .terms {
        text-align: center;
    }
    
    .copy {
        text-align: center;
    }
} 

@media only screen and (min-width: 600px) {
    .main-content {
        padding: 20px 40px;
    }

    .item-process-wrapper {
        justify-content: center;
    }
    
    .terms {
        text-align: center;
    }
    
    .copy {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .main-content {
        padding: 30px 60px;
    }
    .head-item {
        text-align: center;
    }
    .head-item-text {
        text-align: center;
    }

    .item-process-wrapper {
        justify-content: space-between;
    }
    .item-process{
        display: flex;
        flex-direction: column;
    }
    .terms-copy {
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 992px) {
    .main-content {
        padding: 40px 80px;
    }
    .fast-food-wrapper {
        flex-wrap: nowrap;
    }
    .fast-food-item {
        width: 250px;
    }
}
@media only screen and (min-width: 1200px) {
    .main-content {
        padding: 50px 100px;
        
    }
}
