body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 100px;
}

.main-h1 {
    font-size: 24px;
}

.main-button {
    width: 120px;
    height: 40px;
    border-radius: 18px;
    background-color: burlywood;
    color: black;
    font-size: 12px;
}
@media print {
    .main-button {
        border-radius: 0;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:600px) {}

/* Small devices (portrait tablets and large phones, 600px up) */
@media only screen and (min-width:600px) {
    .main-h1 {
        font-size: 34px;
    }
    .main-button {
        width: 100px;
        height: 50px;
        border-radius: 26px;
        font-size: 16px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) {
    .main-h1 {
        font-size: 44px;
    }
    .main-button {
        width: 200px;
        height: 60px;
        border-radius: 30px;
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops,992px and up) */
@media only screen and (min-width:992px) {
    .main-h1 {
        font-size: 50px;
    }
    .main-button {
        width: 300px;
        height: 70px;
        border-radius: 36px;
        font-size: 25px;
    }
}

/* Extra large devices (large laptops/desktops, 1200px and up) */
@media only screen and (min-width:1200px) {
    .main-h1 {
        font-size: 60px;
    }
    .main-button {
        width: 400px;
        height: 80px;
        border-radius: 40px;
        font-size: 30px;
    }
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 20px 10px;
}
.container div {
    background-color: black;
    color: burlywood;
    border: 2px solid #ffff;
}
.tallest {
    height: 500px;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.flex-container {
    display: flex;
    background-color: gray;
    align-items: flex-start;
    height: 400px;
}
.flex-container div {
    background-color: #ffff;
    color: orange;
    font-size: 30px;
    width: 100px;
    margin: 10px;
    text-align: center;
}